<!DOCTYPE html>  
<html lang="en">  
	<head>  
	    <meta charset="UTF-8">  
	    <title>Index</title>  
	    {% load static %}  
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>   
	</head>  
	<body>  
		{%include 'pages/navbar.html'%}
		<div class="container">
			<div class="jumbotron">
		<form action='.' method='POST'>	{% csrf_token %}
			<br>
			<br>
			<center>
	    <h1 class="display-4">Do you want to delete the course {{ object.dId }}?</h1>
	    </center>
	    <br>
	    <br>
	    <br>
	    <center>
	  
	    <button type="submit" class="btn btn-danger">Yes</button>  
                        <a class="btn btn-info" href="../../show" role="button" style='margin-left: 60px'>Cancel</a>  
                        </center>
		</form>
	</div>
		</div>


    </script>

	</body>  

</html>  