<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Index</title>  
        {% load static %}  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>   
    </head>  
    <body>  
        {%include 'pages/navbar.html'%}
        <center>
        <div class="container">
            <div class='jumbotron'>
        <form method="POST" class="post-form" action='.'>  
            <div class="form-group">
                {% csrf_token %}  
            {% for field in form %}
                <fieldset class="form-group">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <!-- <p class="help-text">{{ field.help_text }} </p> -->
                    </div>
                </fieldset>
            {% endfor %}

            <div class="form-group">  
                <label class="col-form-label"></label>  
                <div>  
                    <button type="submit" class="btn btn-primary">Submit</button>  
                </div>  
            </div>  

            </div>
        </form> 
    </div>
</div>
        </center>
    </body>  
</html>  