{% extends 'pages/base.html' %}

{% block title %}
    <title>Charges FilterList</title>  
{% endblock %}

{% block body %}

    {% include 'pages/filter.html' %}

    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-light">
            <tr>  
                <th>ChargeType</th>  
                <th>ID</th>  
                <th>FlatId</th>  
                <th>DormitoryId</th>  
                <th>ChargeDate</th>  
                <th>Money</th>  
                <th>Operation</th>
            </tr>  
        </thead>  
        <tbody>  
            {% for obj in filter.qs %}  
                <tr>  
                    <td>{{ obj.chargeType }}</td> 
                    <td class="id">{{ obj.cId }}</td>  
                    <td>{{ obj.flatId.fId }}</td>  
                    <td>{{ obj.dormitoryId.dId }}</td>  
                    <td>{{ obj.chargeDate }}</td>  
                    <td>{{ obj.money }}</td>  
                    <td>  
                        <center>
                            <a class="btn btn-info edits" href="../../charges/update/{{ obj.cId }}/" role="button" >Edit</a> 
                            <a class="btn btn-warning deletes" href="../../charges/delete/{{ obj.cId }}/" role="button">Delete</a>
                        </center>  
                    </td>  
                </tr>  
            {% endfor %}  
        </tbody>  
    </table>  
            
    <center>
        <a href="../../charges/create/ " class="btn btn-primary add">Add New Record</a>
        <a href="../../home/" class="btn btn-secondary">Back To Home</a>
    </center>  
    <br>
    <br> 

{% endblock %}
    
{% block js %}
    <script type="text/javascript"> 
        console.log("connected") 
        var id="{{my_id}}";
        var charge_delete="{{charge_delete}}";
        var charge_edit="{{charge_edit}}";
        var charge_add="{{charge_add}}";
        console.log(id)
        console.log(charge_delete)
        console.log(charge_add)
        console.log(charge_edit)
        console.log($('.edits'))
        console.log($('.user').text().slice(6))
        editButton=$('.edits')
        deleteButton=$('.deletes')
        addButton=$('.add')
        for (var i = 0; i < editButton.length; i++) {
            if(charge_edit=='False'){
                editButton.eq(i).addClass('disabled')
                
            }
            if(charge_delete=='False'){
                deleteButton.eq(i).addClass('disabled')
            }
        }
        if(charge_add=='False'){
            addButton.eq(0).addClass('disabled')
        }
        console.log('over')
    </script>  
{% endblock %}