{% extends 'pages/base.html' %}

{% block title %}
    <title>Student FilterList</title>  
{% endblock %}

{% block body %}

    {% include 'pages/filter.html' %}

    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-light">
            <tr>  
                <th>ID</th>  
                <th>Name</th>  
                <th>Gender</th>  
                <th>Nation</th>  
                <th>Specialty</th>  
                <th>ClassId</th>
                <th>Telephone</th>  
                <th>FlatId</th>  
                <th>DormitoryId</th>
                <th>Operation</th>
            </tr>  
        </thead>  
        <tbody>  
            {% for obj in filter.qs %}  
                <tr>  
                    <td class="id">{{ obj.sId }}</td>  
                    <td>{{ obj.name }}</td>  
                    <td>{{ obj.gender }}</td>  
                    <td>{{ obj.nation }}</td>  
                    <td>{{ obj.specialty }}</td>  
                    <td>{{ obj.classId }}</td>  
                    <td>{{ obj.telephone }}</td>  
                    <td>{{ obj.flatId.fId }}</td>
                    <td>{{ obj.dormitoryId.dId }}</td>
                    <td>  
                        <center>
                            <a class="btn btn-info edits {{obj.sId}}" href="../../student/update/{{ obj.sId }}/" role="button" >Edit</a> 
                            <a class="btn btn-warning deletes" href="../../student/delete/{{ obj.sId }}/" role="button">Delete</a>
                        </center>  
                    </td>  
                </tr>  
            {% endfor %}  
        </tbody>  
    </table>  
    <br>
    <br>
    <br>
    <center>
        <a href="../../student/createOnly/ " class="btn btn-outline-primary">Create Your Own Record</a>
    </center>  
            

    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <a href="../../student/create/" class="btn btn-primary add">Add New Record</a>
        <a href="../../home/" class="btn btn-secondary">Back To Home</a>
    </center>  
    <br>
    <br> 

{% endblock %}
    
{% block js %}
    <script type="text/javascript"> 
        var a = "{{types}}";
        console.log(a);
        console.log("connected") 
        var id="{{my_id}}";
        var student_delete="{{student_delete}}";
        var student_edit="{{student_edit}}";
        var student_add="{{student_add}}";
        console.log(id)
        console.log(student_delete)
        console.log(student_add)
        console.log(student_edit)
        console.log($('.edits'))
        console.log($('.user').text().slice(6))
        editButton=$('.edits')
        deleteButton=$('.deletes')
        addButton=$('.add')
        idE=$('.id')
        for (var i = 0; i < editButton.length; i++) {
            console.log(0)
            if(student_edit=='False'){
                editButton.eq(i).addClass('disabled')
                
            }
            if(student_delete=='False'){
                deleteButton.eq(i).addClass('disabled')
            }
        }

        if(student_add=='False'){
            addButton.eq(0).addClass('disabled')
        }

        var id="{{my_id}}";
        console.log(id)

        editButton=$('.'+id)
        editButton.removeClass('disabled')
    </script>  
{% endblock %}