<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Student Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Name</th>  
        <th>Gender</th>  
        <th>Nation</th>  
        <th>Specialty</th>  
        <th>ClassId</th>  
        <th>Telephone</th>  
        <th>FlatId</th>  
        <th>DormitoryId</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for stu in object_list %}  
    <tr>  
        <td>{{ stu.sId }}</td>  
        <td>{{ stu.name }}</td>  
        <td>{{ stu.gender }}</td>  
        <td>{{ stu.nation }}</td>  
        <td>{{ stu.specialty }}</td>
        <td>{{ stu.classId }}</td>
        <td>{{ stu.telephone }}</td>
        <td>{{ stu.flatId }}</td>
        <td>{{ stu.dormitoryId }}</td>
        <td>  
            <a href="../student/edit/{{ stu.sId.uId }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="../student/delete/{{ stu.sId.uId }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="../student/st" class="btn btn-primary">Add New Record</a></center>  
<br>
<br>
<center><a href="../home" class="btn btn-primary">Back To Home</a></center>
</body>  
</html>  