<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>User Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Name</th>
        <th>Password</th>
        <th>Types</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for us in users %}  
    <tr>  
        <td>{{ us.uId }}</td>  
        <td>{{ us.name }}</td>  
        <td>{{ us.password }}</td>  
        <td>{{ us.types }}</td>  
        <td>  
            <a href="/user/edit/{{ us.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/user/delete/{{ us.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/user/u" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  