<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Navigation</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<br>  
<br>  
<center><a href="/student/show" class="btn btn-primary">Student</a></center>  
<center><a href="/flat/show" class="btn btn-primary">Flat</a></center>  
<center><a href="/dormitory/show" class="btn btn-primary">Dormitory</a></center>  
<center><a href="/charge/show" class="btn btn-primary">Charge</a></center>  
</body>  
</html>  