<!DOCTYPE html>  
<html>  
  <head>  
      <meta charset="utf-8">  
      <title>Index</title>  
      {% load static %}  
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>  
  </head>  
  <body>  
    <form method="POST" class="post-form" action='.'>  
            {% csrf_token %}  
        <div class=".testdiv">  
          <br>  

            <div class="testdiv">  
              <label class="col-sm-1 col-form-label"></label>  
              <div class="col-sm-4">  
                <h3>Enter Details</h3>  
              </div>  
            </div>  

            <div class="testdiv">  
              <label class="col-sm-2 col-form-label">Id:</label>  
              <div class="col-sm-4">  
                {{ form.uId }}  
              </div>  
            </div>  

            <div class="testdiv">  
              <label class="col-sm-2 col-form-label">Password:</label>  
              <div class="col-sm-4">  
                {{ form.pwd }}  
              </div>  
            </div>   

            <div class="testdiv">  
              <label class="col-sm-1 col-form-label"></label>  
              <div class="col-sm-4">  
                <button type="submit" class='button'>Log In</button>  
                <a href='/signUp/'> Sign Up </a>
              </div>  
            </div>  

      </div>  

    </form>  

  </body>  

</html>  