{% extends 'pages/base.html' %}
{% block title %}
	<title>Delete Flat</title>
{% endblock %}
{% block body %}
	<div class="container">
	<div class="jumbotron">
		<form action='.' method='POST'>	{% csrf_token %}
			<br>
			<br>
			<center>
	    		<h1 class="display-4">Do you want to delete  {{object.fId}}?</h1>
	    	</center>
		    <br>
		    <br>
		    <br>
	    	<center>
	  
			    <button type="submit" class="btn btn-danger">Yes</button>  
                <a class="btn btn-info" href="../../filterList" role="button" style='margin-left: 60px'>Cancel</a>  

            </center>
		</form>
	</div>
</div>
{% endblock %}