<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Flat Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Flat ID</th>  
        <th>Flat Layers</th>  
        <th>Flat roomNum</th>  
        <th>Flat openTime</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for fla in flats %}  
    <tr>  
        <td>{{ fla.fId }}</td>  
        <td>{{ fla.layers }}</td>  
        <td>{{ fla.roomNum }}</td>  
        <td>{{ fla.openTime }}</td>  
        <td>  
            <a href="/flat/edit/{{ fla.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/flat/delete/{{ fla.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/flat/fl" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  