<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Student Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Student ID</th>  
        <th>Student Name</th>  
        <th>Student Gender</th>  
        <th>Student Nation</th>  
        <th>Student Specialty</th>  
        <th>Student ClassId</th>  
        <th>Student Telephone</th>  
        <th>Student FlatId</th>  
        <th>Student DormitoryId</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for stu in students %}  
    <tr>  
        <td>{{ stu.sId }}</td>  
        <td>{{ stu.name }}</td>  
        <td>{{ stu.gender }}</td>  
        <td>{{ stu.nation }}</td>  
        <td>{{ stu.specialty }}</td>
        <td>{{ stu.classId }}</td>
        <td>{{ stu.telephone }}</td>
        <td>{{ stu.flatId }}</td>
        <td>{{ stu.dormitoryId }}</td>
        <td>  
            <a href="/edit/{{ stu.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ stu.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/stu" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  